# Environment variables
.env

# Dependencies
/vendor/
/node_modules/

# Mac OS
.DS_Store

# Docker (if log folders are created locally)
docker-compose.override.yml

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Storage
/storage/logs/*.log
!/storage/logs/.gitkeep

kurallar.txt